:root{

    --font-primary: 'Inter', sans-serif;
    --color-pink: #EC1B90;
    --color-lightpurple: #D4DDED;
    --color-black: #000000;
    --color-white: #F5F5F5;
}

body{
    background: #e8e8e8;
}

    // --color-prymary: ;
    // --color-white: white;
    // --background-input-1: #f3f3f3;
    // --background-input-2: #e8e8e8;
    // --background-input-3: linear-gradient(to right,white, #80808010, white);
    // --background-focus: rgb(241, 241, 241);